.navbar{
  margin: 0 auto;
  max-width: 1344px;
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    span {
      display: block;
      background-color: #0f0d0c;
      height: 5px;
      width: 30px;
      margin: 2px;
    }
  }
}